altgraph==0.17.4
annotated-types==0.7.0
black==24.10.0
cfgv==3.4.0
click==8.1.8
colorama==0.4.6
defusedxml==0.7.1
distlib==0.3.9
filelock==3.16.1
flake8==7.1.1
identify==2.6.4
isort==5.13.2
Jinja2==3.1.5
logging==0.4.9.6
MarkupSafe==3.0.2
mccabe==0.7.0
mypy-extensions==1.0.0
nodeenv==1.9.1
packaging==24.2
pathspec==0.12.1
pefile==2023.2.7
platformdirs==4.3.6
pre_commit==4.0.1
pycodestyle==2.12.1
pydantic==2.10.4
pydantic-settings==2.7.1
pydantic_core==2.27.2
pyflakes==3.2.0
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2024.11
python-dotenv==1.0.1
pywin32-ctypes==0.2.3
PyYAML==6.0.2
setuptools==75.6.0
typing_extensions==4.12.2
virtualenv==20.28.0
