altgraph==0.17.4
annotated-types==0.7.0
black==24.8.0
cfgv==3.4.0
click==8.1.7
colorama==0.4.6
defusedxml==0.7.1
distlib==0.3.8
filelock==3.15.4
flake8==7.1.1
identify==2.6.0
isort==5.13.2
Jinja2==3.1.4
logging==0.4.9.6
MarkupSafe==2.1.5
mccabe==0.7.0
mypy-extensions==1.0.0
nodeenv==1.9.1
packaging==24.1
pathspec==0.12.1
pefile==2023.2.7
platformdirs==4.2.2
pre-commit==3.8.0
pycodestyle==2.12.1
pydantic==2.8.2
pydantic-settings==2.4.0
pydantic_core==2.20.1
pyflakes==3.2.0
pyinstaller==6.8.0
pyinstaller-hooks-contrib==2024.7
python-dotenv==1.0.1
pywin32-ctypes==0.2.2
PyYAML==6.0.2
setuptools==70.0.0
typing_extensions==4.12.2
virtualenv==20.26.3
