altgraph==0.17.4
annotated-types==0.7.0
Jinja2==3.1.4
logging==0.4.9.6
MarkupSafe==2.1.5
packaging==24.1
pefile==2023.2.7
pydantic==2.8.2
pydantic-settings==2.4.0
pydantic_core==2.20.1
pyinstaller==6.8.0
pyinstaller-hooks-contrib==2024.7
python-dotenv==1.0.1
pywin32-ctypes==0.2.2
setuptools==70.0.0
typing_extensions==4.12.2
