name: Build and Deploy EXE

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          version: latest
          virtualenvs-create: true
          virtualenvs-in-project: true

      - name: Cache Poetry dependencies
        uses: actions/cache@v4
        with:
          path: .venv
          key: poetry-${{ runner.os }}-${{ hashFiles('poetry.lock') }}
          restore-keys: |
            poetry-${{ runner.os }}-

      - name: Install dependencies
        shell: pwsh
        run: poetry install

      - name: Build EXE
        shell: pwsh
        run: |
          poetry run pyinstaller --noconfirm --onefile --windowed --add-data "src/template/template.html;template" --icon="img/volgau_gerb.ico" main.py

      - name: Create Release and Upload EXE
        uses: softprops/action-gh-release@v2
        with:
          files: dist/main.exe
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
